.board {
    horizontal-align: center;    
    vertical-align: top;
}

.tile {
    border-width: 1;
    border-color: gray;
    font-weight: bold;
    width: 50;
    height: 50;
}

.undo, .redo {
  vertical-align: center;
  font-family: monospace;
  font-weight: bold;
  font-size: 20;
  width: 70;
  height: 70;
}

.undo {
  horizontal-align: left;
  margin-left: 16;
}

.redo {
  horizontal-align: right;
  margin-right: 16;
}


.next {
  horizontal-align: center;
  font-size: 28;
  font-weight: bold;
  text-align: center;
}

.next-header {
  horizontal-align: center;
  font-size: 18;
  font-weight: bold;
}

.score {
  horizontal-align: center;
  font-size: 24;
  font-weight: bold;
}

.score-header {
  horizontal-align: center;
  font-size: 12;
  font-weight: bold;
  margin: 5 10 0 10;
}

.popup {
  background-color: whitesmoke;
  border-radius: 20;
  border-color: lightgreen;
  border-width: 2;
  margin: 16;
}

.win {
    font-size: 56;
    font-weight: bold;
    horizontal-align: center;
}

.win-btn {
    horizontal-align: center;    
    vertical-align: center;
    font-size: 32;    
}